body{
	box-sizing: border-box;
	background: rgb(254,150,153);
	background: linear-gradient(140deg, rgba(254,150,153,1) 5%, rgba(223,79,165,1) 98%); 
	font-family: 'Open Sans', sans-serif;
	font-size:1.2em;
}

button{
	background: none;
	border: none;
	padding:7%;
	font-weight: bolder;
	font-size:30px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.flex-container{
	display:flex;
	justify-content: center;
	align-items: center;
	height:100vh;
}

.flex-container #copy-msg{
	position: absolute;
	top:10px;
	background-color: rgba(0, 0, 0, 0.69);
	color:#FFFFFD;
	display: inline-block;
	padding:10px;
	border-radius: 3%;
	transition: .5s ease-in-out;
	user-select: none;

}

.hidden-msg{ /*js*/
	opacity: 0;
	visibility: none;
}

.appear-msg{ /*js*/
	opacity: 1;
	visibility: visible;
}

.flex-container .calc-container{
	height:91%;
	width:35%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	overflow: hidden;
	background-color: #FFFFFD;

}


.flex-container .calc-container .upper{
	display:flex;
	flex-direction: column;
	height:100%;
	padding:10px;
	background: rgb(255,255,255);
	background: linear-gradient(140deg, rgba(255,255,255,1) 2%, rgba(250,250,250,1) 40%); 
}

.flex-container .calc-container .upper .dots span{
	height:15px;
	width:15px;
	margin-top:5px;
	border-radius: 50%;
	display: inline-block;
}

.flex-container .calc-container .upper .numbers{
	height:100%;
	color:#000000;
	display:flex;
	align-items: center;
	justify-content: flex-end;
	font-size:3em;
}


.flex-container .calc-container .upper .dots span:first-of-type{
	background-color: #f05454;
}

.flex-container .calc-container .upper .dots span:nth-of-type(2){
	background-color: #EEEEEE;
}


.flex-container .calc-container .upper .dots span:last-of-type{
	background-color: #b8de6f;
}

.flex-container .calc-container .upper-btns {
	display: flex;
	align-items: center;
	height:20%;
	justify-content: space-between;
}

.flex-container .calc-container .upper-btns #delete,
.flex-container .calc-container .upper-btns #copy
{

	color:#a5a5a5;
	flex-basis: 20%;
	height:50%;
	font-size:.9em;
	padding:4.4% 3%;
	border-radius: 50%;
	flex-basis: 10%;
}

.flex-container .calc-container .lower{
	display: flex;
	flex-direction: column;
	-webkit-box-shadow: 0px -1px 7px 0px rgba(50, 50, 50, 0.26);
	-moz-box-shadow:    0px -1px 7px 0px rgba(50, 50, 50, 0.26);
	box-shadow:         0px -1px 7px 0px rgba(50, 50, 50, 0.26);
	height:65%;
}

.flex-container .calc-container .lower .all-btns,
.flex-container .calc-container .lower .last-btns,
.flex-container .calc-container .lower .first-btns{
	display: flex;
	height:20%;
}


.flex-container .calc-container .lower .uppper-operator{
	flex-basis: 25%;
	color:#a5a5a5;

}

.flex-container .calc-container .lower .delete-icon{
	flex-basis: 25%;
	color:#ff2742;
	font-size:1.2em;
}


.flex-container .calc-container .lower .lower-operators{
	color:#4e4e4e;
}

.flex-container .calc-container .lower #equal{
	flex-basis: 25%;
}

.flex-container .calc-container .lower #zero{
	flex-basis: 50%;
}

.flex-container .calc-container .lower #point{
	flex-basis: 25%;
}


.flex-container .calc-container .lower .lower-operators .back-circle{
	width:35px;
	height:35px;
	display:inline-block;
	background-color: #f1f0f0;
	border-radius:50%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.switch{
	position: absolute;
	right: 20px;
	top:20px;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  left: -4px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #374352;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

.slider{
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

/*Dark Mode*/

.dark-mode-calc-container{
	background-color: #374352 !important;
}

.dark-mode-numbers-upper{
	color:#FFFFFD !important;
}

.dark-mode-upper-background-color{
	background: rgb(78,90,105) !important;
	background: linear-gradient(140deg, rgba(78,90,105,1) 0%, rgba(61,72,87,1) 39%) !important; 
}

.dark-mode-lower-numbers-colors{
	color: #FFFFFD !important;
}

.dark-mode-operator-color{
	color:#aab3bc !important;
}

.dark-mode-operator-span{
	background-color: #485360 !important;
}

.dark-mode-delte-icon{
	color:#d4707f !important;
}


